{% extends 'layout.twig' %}

{% block body %}
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .form-container {
      max-width: 500px;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      resize: vertical;
      height: 150px;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .submit-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
    }

    .cancel-btn {
      background-color: gray;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .cancel-btn:hover {
      background-color: darkgray;
    }
  </style>
  <div class="form-container">
    <h1>Crear publicación</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Título:</label>
        <input id="title" name="title" type="text" required>
      </div>

      <div class="form-group">
        <label for="date"></label>
        <input id="date" name="date" type="hidden">
      </div>

      <div class="form-group">
        <label for="text">Contenido de la publicación:</label>
        <textarea id="text" name="text" required></textarea>
      </div>

      <div class="form-group">
        <label for="author">Autor:</label>
        <input id="author" name="author" type="text" required>
      </div>

      <div class="form-group">
        <label for="category">Categoría de la publicación:</label>
        <select class="form-select" id="category" name="category" required>
              <option selected></option>
              {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
        <label for="image">Imagen:</label>
        <div class="upload-btn-wrapper">
          <button class="btn">Seleccionar archivo</button>
          <input type="file" id="image" name="image" accept="image/*">
        </div>
      </div>
      
      <a class="cancel-btn" href="/publicaciones">Cancelar</a>
      <input type="submit" class="submit-btn" value="Crear">
    </form>
  </div>
  <script>
    // Set the current date as the value of the hidden date input field
    const currentDate = new Date().toISOString().split('T')[0];
    document.getElementById('date').value = currentDate;
  </script>

{% endblock %}