{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form method="POST">
        <div>
            <label for="title">Título:</label><br />
            <input id="title" name="title" type="text" />
        </div>

        <div>
            <label for="date">Fecha de publicación:</label><br />
            <input id="date" name="date" type="date" />
        </div>

        <div>
            <label for="text">Contenido de la publicacion:</label><br />
            <textarea id="text" name="text"></textarea>
        </div>

        <div>
            <label for="author">Autor:</label><br />
            <input id="author" name="author" type="text" />
        </div>

        <div>
            <label for="category">Categoría de la publicación:</label><br />
            <input id="category" name="category" type="text" />
        </div>
        
        <input type="submit" value="Crear" />
    </form>
{% endblock %}