{% extends 'layout.twig' %}


{% block body %}
<!DOCTYPE html>
<html class="no-js" lang="es">
  <body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Organización o persona</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Acceso</a></li>
          <li><a href="#">Administración</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout large primary">
      <div class="text-center">
        <h1>Diario web</h1>
      </div>
    </div>
    <section class="grid-container">
      <div class="grid-x grid-margin-x" id="content">
        <div class="medium-9 cell">
          <article class="blog-post">
            <h3>Un excelente título de publicación <small>18/10/2021</small></h3>
            <img class="thumbnail" src="https://via.placeholder.com/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci.
              Etiam at risus et justo dignissim congue. Donec congue lacinia
              dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper
              orci. Quisque eget odio ac lectus vestibulum faucibus eget in
              metus. In pellentesque faucibus vestibulum. Nulla at nulla justo,
              eget luctus.</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Autor: José Pérez</a></li>
                <li><a href="#">Comentarios: 3</a></li>
              </ul>
            </div>
          </article>
          <article class="blog-post">
            <h3>Un excelente título de publicación <small>18/10/2021</small></h3>
            <img class="thumbnail" src="https://via.placeholder.com/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci.
              Etiam at risus et justo dignissim congue. Donec congue lacinia
              dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper
              orci. Quisque eget odio ac lectus vestibulum faucibus eget in
              metus. In pellentesque faucibus vestibulum. Nulla at nulla justo,
              eget luctus.</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Autor: José Pérez</a></li>
                <li><a href="#">Comentarios: 3</a></li>
              </ul>
            </div>
          </article>
          <article class="blog-post">
            <h3>Un excelente título de publicación <small>18/10/2021</small></h3>
            <img class="thumbnail" src="https://via.placeholder.com/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci.
              Etiam at risus et justo dignissim congue. Donec congue lacinia
              dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper
              orci. Quisque eget odio ac lectus vestibulum faucibus eget in
              metus. In pellentesque faucibus vestibulum. Nulla at nulla justo,
              eget luctus.</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Autor: José Pérez</a></li>
                <li><a href="#">Comentarios: 3</a></li>
              </ul>
            </div>
          </article>
          <article class="blog-post">
            <h3>Un excelente título de publicación <small>18/10/2021</small></h3>
            <img class="thumbnail" src="https://via.placeholder.com/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci.
              Etiam at risus et justo dignissim congue. Donec congue lacinia
              dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper
              orci. Quisque eget odio ac lectus vestibulum faucibus eget in
              metus. In pellentesque faucibus vestibulum. Nulla at nulla justo,
              eget luctus.</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Autor: José Pérez</a></li>
                <li><a href="#">Comentarios: 3</a></li>
              </ul>
            </div>
          </article>
        </div>
        <aside class="medium-3 cell" data-sticky-container="">
          <div class="sticky" data-sticky="" data-anchor="content">
            <h4>Categorías</h4>
            <ul>
              <li><a href="#">PHP</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">C#</a></li>
              <li><a href="#">Java</a></li>
            </ul>
            <h4>Autores</h4>
            <ul>
              <li><a href="#">Sandra</a></li>
              <li><a href="#">Jessica</a></li>
              <li><a href="#">José</a></li>
              <li><a href="#">Andrés</a></li>
              <li>
                <a href="/publicacion/create">Agregar un nuevo contacto</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="grid-x cell">
        <ul class="pagination" role="navigation" aria-label="Pagination">
          <li class="disabled">Previa</li>
          <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
          <li><a href="#" aria-label="Page 2">2</a></li>
          <li><a href="#" aria-label="Page 3">3</a></li>
          <li><a href="#" aria-label="Page 4">4</a></li>
          <li class="ellipsis"><br>
          </li>
          <li><a href="#" aria-label="Page 12">12</a></li>
          <li><a href="#" aria-label="Page 13">13</a></li>
          <li><a href="#" aria-label="Next page">Siguiente</a></li>
        </ul>
      </div>
    </section>
    <script src="bower_components/jquery/dist/jquery.js?hash=4d87a332421d7631f5e204529a472bff"></script>
    <script src="bower_components/what-input/what-input.js?hash=af041c30741a345292bed3cb0f1295ca"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js?hash=37375b21ccbe17669cdc30790ba5a003"></script>
    <script src="js/app.js?hash=78ce4569316d2924214f821d75e9028f"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



{% endblock %}
